/* Import the fonts */
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

/* set custom colors and font presets */
:root{
    /* greys */
    --clr-grey-100: #5E5E5E;
    --clr-grey-200: #4E4E4E;
    --clr-grey-300: #3E3E3E;
    --clr-grey-400: #2E2E2E;
    --clr-grey-500: #1E1E1E;

    /* reds */
    --clr-red-100: #520101;
    --clr-red-200: #440101;
    --clr-red-300: #340101;
    --clr-red-400: #240101;
    --clr-red-500: #140101;

    /* oranges */
    --clr-orange-100: #AD4B09;
    --clr-orange-200: #913F07;
    --clr-orange-300: #753206;
    --clr-orange-400: #471F04;
    --clr-orange-500: #291202;

    /* yellows */
    --clr-yellow-100: #CCC12D;
    --clr-yellow-200: #A69D24;
    --clr-yellow-300: #857D1D;
    --clr-yellow-400: #5E5915;
    --clr-yellow-500: #242208;

    /* green */
    --clr-green-100: #3B9915;
    --clr-green-200: #318012;
    --clr-green-300: #27660E;
    --clr-green-400: #1B470A;
    --clr-green-500: #0E2405;

    /* light blues*/
    --clr-lightblue-100: #22B3A9;
    --clr-lightblue-200: #1B968E;
    --clr-lightblue-300: #15756F;
    --clr-lightblue-400: #0E4D48;
    --clr-lightblue-500: #072927;

    /* blues */
    --clr-blue-100: #081B70;
    --clr-blue-200: #051352;
    --clr-blue-300: #040E3D;
    --clr-blue-400: #020a2b;
    --clr-blue-500: #01061c;

    /* purples */
    --clr-purple-100: #8C23A1;
    --clr-purple-200: #731d85;
    --clr-purple-300: #561563;
    --clr-purple-400: #3E0F47;
    --clr-purple-500: #230929;

    /* pinks */
    --clr-pink-100: #E002D9;
    --clr-pink-200: #CF02C8;
    --clr-pink-300: #BA00B4;
    --clr-pink-400: #A802A3;
    --clr-pink-500: #94008F;

    /* whites */
    --clr-white-100: #F2F2EB;
    --clr-white-200: #E3E3DA;

    /* font weights */
    --fw-extra-small: 100;
    --fw-small: 200;
    --fw-medium: 300;
    --fw-normal: 400;
    --fw-medium-large: 500;
    --fw-large: 600;
    --fw-extra-large: 700;

    /*font sizes*/
    --fs-300: .875rem;
    --fs-400: 1.125rem;
    --fs-500: 1.5rem;
    --fs-600: 2rem;
    --fs-700: 2.25rem;
    --fs-800: 3rem;
    --fs-900: 3.5rem;

    /* font families */
    --ff-primary: 'Poppins', sans-serif;
    --ff-secondary: 'Zain', sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/*Set body margin to 0*/
body{
    margin: 0;
}

/*All first-children will not have a margin at the top*/
:first-child{
    margin-block-start: 0;
}

/* Remove default margin in favour of better control in authored CSS */
h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin-bottom: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-inline-size: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

