/*  home page and navbar*/
.home_body{
    height:100vh;
    background-image: url("../images/background_1.jpg");
    backdrop-filter: blur(3px);
}

.header_container_home{
    display: grid;
    grid-template-columns:3rem auto;
    grid-template-areas:
        "logo" "nav";
    color: var(--clr-white-100);
    font-family: var(--ff-primary, sans-serif);
    background-color: var(--clr-grey-200);
    opacity: .5;
    margin-right: 0;
}

#nav_logo{
    align-self: start;
    grid-area: logo;
    opacity: 1;
    margin: .5rem;
}

.navbox {
    display: grid;
    place-items: center;
    place-content: end;
    margin: 0;
}

.navbox ul {
    list-style: none;
    display: grid;
    grid-template-columns:repeat(4, 5rem);
    place-content: end;
    gap: 1rem;
}

.navbox ul li{
    list-style: none;
    place-self: center;
    opacity: 1;
}

.navbox ul li a{
    place-self: center;
    text-decoration: none;
    font-size: var(--fs-400);
    transition-duration: 1s;

}
.navbox ul li a:hover{

    color: var(--clr-green-100)
}

.navbox img
{
    height: 2rem;
    width: 2rem;
}

.hero_image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro_header{
    display: grid;
    margin: 1rem;
    color: var(--clr-white-100);
    align-items: center;
    justify-content: center;
}

.intro_header h1{
    color: var(--clr-white-100);
    place-self: center;
    font-family: var(--ff-primary, sans-serif);
}

.intro_text{
    color: var(--clr-white-100);
    display: grid;
    margin: 1rem;
    font-family: var(--ff-primary, sans-serif);

}
.intro_content{
    place-self: center;
    max-width: 30rem;
}

.intro_text button{
    place-self: center;
    padding: 1rem 3rem;
    border-radius: 1rem;
    background-color: var(--clr-grey-200);
    opacity: .5;
    transition: 1s;
    color: var(--clr-white-100);
}

.intro_text button:hover{
    opacity: 1;
}

.hero_image img
{
    border-radius: 360px;
    height: 25rem;
    margin: 4rem;
}

/*  About Page*/
.about_body{
    margin: 5rem 20rem

}

.about_body hr{

}
